<!DOCTYPE html>
<html>
   <head>
      <title>Timestamp Microservice</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <main>
        <h1>Timestamp Microservice</h1>
        <div class="container">
          <h2>Input:</h2>
          <input id="input-field" type="text" placeholder="Enter date:">
          <button id="submit-btn">Submit</button>
          <h2>Output:</h2>
          <div id="output"></div>
        </div>
      </main>
      <script src="/script.js"></script>
  </body>
</html>
